<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Tf2Items">
      <section name="ValvePak" type="System.Configuration.DictionarySectionHandler"/>
      <section name="Steam" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <Tf2Items>
    <Steam>
      <add key="TeamFortress2Directory" value="D:\Games\Steam\SteamApps\common\Team Fortress 2" />
    </Steam>
    <ValvePak>
      <add key="HlExtractLocation" value="..\..\..\tools\HLExtract.exe"/>
      <add key="VtfCmdLocation" value="..\..\..\tools\VTFCmd.exe"/>
    </ValvePak>
  </Tf2Items>
</configuration>