<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Tf2Items">
      <section name="ValvePak" type="System.Configuration.DictionarySectionHandler" />
      <section name="Steam" type="System.Configuration.DictionarySectionHandler" />
      <section name="WeaponIcon" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TF2Items.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <Tf2Items>
    <Steam>
      <add key="TeamFortress2Directory" value="D:\Games\Steam\SteamApps\common\Team Fortress 2" />
    </Steam>
    <ValvePak>
      <add key="HlExtractLocation" value="..\..\..\tools\HLExtract.exe" />
      <add key="VtfCmdLocation" value="..\..\..\tools\VTFCmd.exe" />
    </ValvePak>
    <WeaponIcon>
      <add key="CacheDirectory" value="Cache\WeaponIcons" />
    </WeaponIcon>
  </Tf2Items>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TF2Items.Ui.Properties.Settings>
      <setting name="ReloadConfigOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="ReuseLastSaveLocation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveTo" serializeAs="String">
        <value />
      </setting>
    </TF2Items.Ui.Properties.Settings>
  </userSettings>
</configuration>