<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Tf2Items>
    <ValvePak xdt:Transform="Replace">
      <add key="HlExtractLocation" value="tools\HLExtract.exe" />
      <add key="VtfCmdLocation" value="tools\VTFCmd.exe" />
    </ValvePak>
  </Tf2Items>
</configuration>