<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <Tf2Items>
    <Steam xdt:Transform="Replace">
      <add key="TeamFortress2Directory" value="*path to steam*\SteamApps\common\Team Fortress 2" />
    </Steam>
    <ValvePak xdt:Transform="Replace">
      <add key="HlExtractLocation" value="tools\HLExtract.exe" />
      <add key="VtfCmdLocation" value="tools\VTFCmd.exe" />
    </ValvePak>
  </Tf2Items>
  <log4net>
    <root>
      <level xdt:Transform="Replace" value="ERROR" />
    </root>
  </log4net>
</configuration>